@import "../node_modules/normalize.css/normalize";
@import "../css/fonts.css";
@import "../scss/vars.scss";

// Базовые настройки 
*,
*:after,
*:before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  margin: 0;

  &::focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
  margin: 0;
}

input {
  padding: 16px 14px;
  outline: none;

  &::active,
  &::focus {
    outline: none;
  }
}

button {
  outline: none;
  cursor: pointer;

  &::active,
  &::focus {
    outline: none;
  }
}

html {
  font-size: $fz-base;
}

body {
  height: 100%;
  font-family: $font-base;
  font-weight: 500;
  color: #070707;
}

.container {
  max-width: 985px;
  margin: 0 auto;
  padding: 0 20px;
}

// Верстка

//header//
.nav{
  height: 90px;
  border-bottom: 1px solid #828282;
  &-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    &__link{
      font-family: 'Gilroy-Bold', sans-serif;
      font-weight: 700;
      line-height: 22px;
      color: #828282;
      &--active{
        color: #000;
      }
      &:hover{
        color: #000;
      }
    }
  }
}
.header{
  &-intro{
    padding-bottom: 100px;
    &__description{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 40px 0;
    }
    &__fullname{
      font-family: 'Gilroy-Bold', sans-serif;
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;
      width: 260px;
    }
    &__info{
      line-height: 22px;
    }
    &__lang{
      font-family: 'Gilroy-Bold',sans-serif;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      transform: rotate(-90deg);
    }
    &__img{
      img{
        width: 100%;
        max-width: 940px;
        height: 390px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}